---
import "../styles/index.css";
import Background from '../components/Background.svelte';
import LastFM from '../components/LastFM.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- discord meta tags  -->
		<meta content="miaaaa0a" property="og:title" />
		<meta content="home of mimi" property="og:description" />
		<meta content="https://mimi.23347.top" property="og:url" />
		<meta content="#cba6f7" data-react-helmet="true" name="theme-color" />
		<!-- twitter meta tags  -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@miaaaa0a" />
		<meta name="twitter:creator" content="@miaaaa0a" />

		<title>mimi website</title>
	</head>
	<body class="bg-white">
		<Background client:only />
		<!-- about me -->
		<div class="flex items-center justify-center p-5">
			<div class="w-3/4 bg-white">
				<!-- title bar -->
				<div class="h-5 bg-black">
					<p class="text-white font-[Cozette]">
						&lt;&lt; WEBSITE &gt;&gt;
					</p>
				</div>

				<!-- content div -->
				<div class="console-border text-black font-[Cozette] leading-none">
					<p class="pb-3">
						Reformatting page. Wait... done
					</p>

					<div class="flex justify-between pb-3">
						<p>MIA(1)</p>
						<p>USER COMMANDS</p>
						<p>MIA(1)</p>
					</div>

					<p>NAME</p>
					<p class="pl-10 pb-3">mia - self-proclaimed music composer and programmer foxgirl</p>

					<p>SYNOPSIS</p>
					<p class="pl-10 pb-3">mia [ -mipy <span class="bg-black text-white">always</span> ]</p>

					<p>DESCRIPTON</p>
					<p class="pl-10 pb-3">
						<span class="bg-black text-white">Mia</span> is a 16 year old amateur music composer and hobbyist programmer. She specializes in writing in <span class="bg-black text-white">Rust</span>, <span class="bg-black text-white">Python</span>, <span class="bg-black text-white">JavaScript</span> and <span class="bg-black text-white">C</span> (somewhat atleast). She composes mostly <span class="bg-black text-white">electronic music</span>, and has been doing so since <span class="bg-black text-white">2020</span>. Her DAW of choice is <span class="bg-black text-white">FL Studio</span>, and it's unclear what genre exactly she composes in. Aside from writing music and coding, Mia also enjoys playing games in her free time, such as <span class="bg-black text-white">Team Fortress 2</span> or <span class="bg-black text-white">Roblox</span> (mostly only with friends). Mia (or Mimi for short???) is an utmost peculiar creature that needs to be studied under a microscope for highly important scientific research.
					</p>

					<p>REPORTING BUGS</p>
					<p class="pl-10 pb-3">Report any issues with Mia AI to its' creator: <a class="underline" href="https://github.com/sudocode1">&lt;https://github.com/sudocode1&gt;</a></p>

					<p>SEE ALSO</p>
					<p class="pl-10 pb-3">scroll? down???&nbsp;&nbsp;&nbsp;Stupid</p>

					<div class="flex justify-between">
						<p>GNU ognamognam 6.7</p>
						<p>July 2025</p>
						<p>MIA(1)</p>
					</div>
				</div>
			</div>
		</div>

		<!-- socials -->
		<div class="flex items-center justify-center p-5">
			<div class="w-3/4 bg-white">
				<!-- title bar -->
				<div class="h-5 bg-black">
					<p class="text-white font-[Cozette]">
						&lt;&lt; SOCIALS &gt;&gt;
					</p>
				</div>

				<!-- content div -->
				<div class="console-border text-black font-[Cozette] leading-none">
					<p class="pb-3">
						root# socials
					</p>
					<p class="pb-3">
						<span class="bg-black text-white">discord</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;miaaaa0a
					</p>
					<p class="pb-3">
						<span class="bg-black text-white">twitter</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/miaaaa0a" class="underline">miaaaa0a</a>
					</p>
					<p class="pb-3">
						<span class="bg-black text-white">soundcloud</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://soundcloud.com/miaaaa0a" class="underline">miaaaa0a</a>
					</p>
					<p class="pb-3">
						<span class="bg-black text-white">github</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/miaaaa0a" class="underline">miaaaa0a</a>
					</p>
					<p class="pb-3">
						<span class="bg-black text-white">steam</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://steamcommunity.com/id/evilpawjob" class="underline">evilpawjob</a>
					</p>
					<p class="pb-3">
						<span class="bg-black text-white">domain owner</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://acpi.at" class="underline">mux</a>
					</p>
				</div>
			</div>
		</div>

		<!-- last.fm -->
		<LastFM client:only />
	</body>
</html>
